#aboutMe {
    color: white;
    text-align: left;
    font-size: 140%;
    text-indent: 2vw;
}

#aboutContainer {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#aboutHeader {
    color: white;
}