#about {
    width: 100vw;
    height: 50vh;
}

#aboutMe1, #aboutMe2, #aboutMe3 {
    text-align: left;
    font-size: 140%;
    font-weight: bolder;
    text-indent: 2vw;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-bottom: 2vh;
}

#aboutMe1 {
    padding-top: 1vh;
}

#aboutMe3 {
    padding-bottom: 2vh;
}

#aboutContainer {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 10vh;
}

#aboutHeader {
    font-style: italic;
    margin-left: 1vw;
}