#contactContainer {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 5vh;
    margin-top: 2vh;
    color: white;
}

#contact {
    text-align: right;
    display: block;
    width: 20%;
    margin-right: 0;
    margin-left: 60vw;
}

#headshot {
    height: 38vh;
}

#headshotDiv {
}
