#jumboStyle {
    background: url('https://www.maxpixel.net/static/photo/1x/Psychedelic-Gradient-Spectrum-Background-Green-553216.jpg') no-repeat center;
    background-size: cover;
    color: white;
    text-align: center;
}

