#navbarMain {
    background-color: var(--white) !important;
}

#jumboText {
    color: var(--black) !important;
}

#jumboText2 {
    color: var(--cyan) !important;
}

#jumboText2:hover {
    color: var(--yellow) !important;
}