.projectsContainer {
    height: 50vh;
    width: 100vw;
}

.projects {
    display: flex;
    flex-flow: row wrap;
}

.discGolfLounge {
    width: 20vw;
    height: 30vh;
    margin: 2em;
}

.discGolfText {}

#discGolfPicture {
    width: 15vw;
    height: 15vh;
}

.sportsDB-API {
    width: 20vw;
    height: 30vh;
    margin: 2em;
}

.sportsDBText {}

#sportsDBPicture {
    width: 15vw;
    height: 15vh;
}

.gardenTemple {
    width: 20vw;
    height: 30vh;
    margin: 2em;
}

.gardenTempleText {}

#gardenTemplePicture {
    width: 15vw;
    height: 15vh;
}

.nexus {
    width: 20vw;
    height: 30vh;
    margin: 2em;
}

.nexusText {}

#nexusPicture {
    width: 15vw;
    height: 15vh;
}