.splashContainer {
    background-image: url("https://images.pexels.com/photos/234527/pexels-photo-234527.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: 50% 90%;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
}

.splash {
    color: white;
    position: absolute;
    left: 38vw;
    right: 0;
    bottom: 0;
    top: 40vh;
}